@import './variables.css' layer(base);

@import 'tailwindcss';

@config '../apps/storybook-react/tailwind.config.ts';

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    font-family: var(--font-primary);
  }
}
