node_modules
.vscode
.devcontainer
.git
.nx/cache
.yarn
!.yarn/releases
!.yarn/plugins
dist
reports
**/.venv
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/__pycache__
**/tmp
logs/
tmp/
coverage/
.coverage
.github/
**/*.md
Dockerfile
docker-compose*.yml
