**
!.yarn/releases
!.yarn/plugins
!apps
!libs
!tools
!*.env*
!.eslint*
!.flake8
!.prettierignore
!.prettierrc
!.python-version
!.yarnrc.yml
!babel.config.json
!docker-compose*.yml
!Dockerfile
!jest.*
!mypy.ini
!nx.json
!package.json
!poetry.*
!pyproject.toml
!tsconfig.base.json
!yarn.lock
