[flake8]
exclude =
	.git,
	__pycache__,
	build,
	dist,
	node_modules,
	*/migrations/*,
	.tox,
	venv,
	.venv,
	.yarn,
	.pytest_cache

# https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#flake8
per-file-ignores =
	# imported but unused
	__init__.py: F401
max-line-length = 120
select = C,E,F,W,B
extend-ignore = E203, E501, W503
