services:
  better-angels:
    environment:
      - IS_LOCAL_DEV=True
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - '8000:8000'
  db:
    image: nickblah/postgis:15-bullseye-postgis-3.4
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    command: postgres -c log_statement=all -c log_destination=stderr
  hipaa-db:
    image: nickblah/postgis:15-bullseye-postgis-3.4
    ports:
      - '5433:5432'
    environment:
      - HIPAA_DB=hipaa
      - HIPAA_USER=hipaa
      - HIPAA_PASSWORD=hipaa
    command: postgres -c log_statement=all -c log_destination=stderr
  redis:
    image: redis:7.2.2
