services:
  better-angels:
    build:
      context: .
    environment:
      - IS_LOCAL_DEV=True
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/workspace:cached
      - node_modules:/workspace/node_modules
      - venv:/workspace/.venv
      - .bash_aliases:/home/betterangels/.bash_aliases

    ports:
      - '8000:8000'
  db:
    image: nickblah/postgis:15-bullseye-postgis-3.4
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    command: postgres -c log_statement=all -c log_destination=stderr
    volumes:
      - pgdata:/var/lib/postgresql/data

  valkey:
    image: valkey/valkey:8.0.2

volumes:
  node_modules:
  pgdata:
  venv:
