services:
  better-angels:
    environment:
      - IS_LOCAL_DEV=True
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/workspace:cached
      - node_modules:/workspace/node_modules
      - venv:/workspace/.venv
      - .bash_aliases:/home/betterangels/.bash_aliases

    ports:
      - '8000:8000'
      - '9000:9000'
      - '9001:9001'
  db:
    image: nickblah/postgis:17.5-bullseye-postgis-3.5
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    command: postgres -c log_statement=all -c log_destination=stderr
    volumes:
      - pgdata:/var/lib/postgresql/data

  valkey:
    image: valkey/valkey:8.0.2

  minio:
    image: minio/minio:latest
    network_mode: 'service:better-angels'
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    entrypoint: sh -c "mkdir -p /data/betterangels-media && minio server /data --console-address ':9001'"
    volumes:
      - minio_data:/data

volumes:
  minio_data:
  node_modules:
  pgdata:
  venv:
