[tool.nx]
autoActivate = true

[tool.poetry]
name = "@monorepo/source"
version = "1.0.0"
description = ""
authors = []
license = "Proprietary"
readme = "README.md"
package-mode = false

[tool.black]
line-length = 120
exclude = '''
/(
    | node_modules
    | .venv/lib
)/
'''

[tool.isort]
profile = "black"
skip_glob = ["*/migrations/*"]

[tool.poetry.dependencies]
python = "3.13.3"

[tool.poetry.dependencies.betterangels-backend]
path = "apps/betterangels-backend"
develop = true


[tool.poetry.group.dev.dependencies]
flake8 = "^7.1.2"
isort = "^6.0.1"
black = "^25.1.0"
flake8-bugbear = "^24.12.12"
django-stubs-ext = "5.1.3"
djlint = "^1.36.4"
django-stubs = { extras = ["compatible-mypy"], version = "5.1.3" }
celery-types = "^0.23.0"
vcrpy = "^7.0.0"
djangorestframework-stubs = { extras = [
    "compatible-mypy",
], version = "^3.15.3" }
ipython = "^9.0.2"
pytest-django = "^4.11.1"
boto3-stubs = { extras = ["essential"], version = "^1.38.32" }
model-bakery = "^1.20.4"
unittest-parametrize = "^1.6.0"
time-machine = "^2.16.0"
types-python-dateutil = "^2.9.0.20240316"
types-gevent = "^24.10.0.20241012"


[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "betterangels_backend.settings"

[build-system]
requires = ["poetry-core==1.1.0"]
build-backend = "poetry.core.masonry.api"
