[tool.nx]
autoActivate = true

[tool.poetry]
name = "@monorepo/source"
version = "1.0.0"
description = ""
authors = []
license = "Proprietary"
readme = "README.md"

[tool.isort]
profile = "black"
skip_glob = ["*/migrations/*"]

[tool.poetry.dependencies.betterangels-backend]
path = "apps/betterangels-backend"
develop = true

[tool.poetry.dependencies]
python = "3.11.5"

[tool.poetry.group.dev.dependencies]
flake8 = "^6.1.0"
isort = "^5.12.0"
black = "^23.7.0"
flake8-bugbear = "^23.7.10"
django-stubs-ext = "^4.2.5"
djlint = "^1.32.1"
django-stubs = { extras = ["compatible-mypy"], version = "^4.2.5" }
celery-types = "^0.20.0"
vcrpy = "^5.1.0"
djangorestframework-stubs = { extras = [
    "compatible-mypy",
], version = "^3.14.4" }
ipython = "^8.17.2"
pytest-django = "^4.7.0"
boto3-stubs = { extras = ["essential"], version = "^1.29.0" }
model-bakery = "^1.17.0"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "betterangels_backend.settings"

[build-system]
requires = ["poetry-core==1.1.0"]
build-backend = "poetry.core.masonry.api"
