[tool.nx]
autoActivate = true

[tool.poetry]
name = "@monorepo/source"
version = "1.0.0"
description = ""
authors = []
license = "Proprietary"
readme = "README.md"
package-mode = false

[tool.black]
line-length = 120
exclude = '''
/(
    | node_modules
    | .venv/lib
)/
'''

[tool.isort]
profile = "black"
skip_glob = ["*/migrations/*"]

[tool.poetry.dependencies]
python = "3.12.2"
types-python-dateutil = "^2.9.0.20240316"

[tool.poetry.dependencies.betterangels-backend]
path = "apps/betterangels-backend"
develop = true


[tool.poetry.group.dev.dependencies]
flake8 = "^7.0.0"
isort = "^5.13.0"
black = "^24.4.2"
flake8-bugbear = "^24.4.26"
django-stubs-ext = "^5.0.0"
djlint = "^1.34.1"
django-stubs = { extras = ["compatible-mypy"], version = "^5.0.0" }
celery-types = "^0.22.0"
vcrpy = "^6.0.1"
djangorestframework-stubs = { extras = [
    "compatible-mypy",
], version = "^3.15.0" }
ipython = "^8.24.0"
pytest-django = "^4.8.0"
boto3-stubs = { extras = ["essential"], version = "^1.34.103" }
model-bakery = "^1.18.0"
unittest-parametrize = "^1.4.0"
time-machine = "^2.14.1"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "betterangels_backend.settings"

[build-system]
requires = ["poetry-core==1.1.0"]
build-backend = "poetry.core.masonry.api"
