[tool.nx]
autoActivate = true

[tool.poetry]
name = "@monorepo/source"
version = "1.0.0"
description = ""
authors = []
license = "Proprietary"
readme = "README.md"
package-mode = false

[tool.black]
line-length = 120
exclude = '''
/(
    | node_modules
    | .venv/lib
)/
'''

[tool.isort]
profile = "black"
skip_glob = ["*/migrations/*"]

[tool.poetry.dependencies]
python = "3.12.2"

[tool.poetry.dependencies.betterangels-backend]
path = "apps/betterangels-backend"
develop = true


[tool.poetry.group.dev.dependencies]
flake8 = "^7.1.1"
isort = "^5.13.2"
black = "^24.8.0"
flake8-bugbear = "^24.8.19"
django-stubs-ext = "5.1.0"
djlint = "^1.35.2"
django-stubs = { extras = ["compatible-mypy"], version = "5.1.0" }
celery-types = "^0.22.0"
vcrpy = "^6.0.1"
djangorestframework-stubs = { extras = [
    "compatible-mypy",
], version = "^3.15.1" }
ipython = "^8.28.0"
pytest-django = "^4.9.0"
boto3-stubs = { extras = ["essential"], version = "^1.35.31" }
model-bakery = "^1.19.5"
unittest-parametrize = "^1.4.0"
time-machine = "^2.15.0"
types-python-dateutil = "^2.9.0.20240906"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "betterangels_backend.settings"

[build-system]
requires = ["poetry-core==1.1.0"]
build-backend = "poetry.core.masonry.api"
