@font-face {
  font-family: 'Poppins';
  src: url('../../../../../libs/expo/shared/ui-components/src/lib/Fonts/fonts/Poppins-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../../../../libs/expo/shared/ui-components/src/lib/Fonts/fonts/Poppins-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../../../../libs/expo/shared/ui-components/src/lib/Fonts/fonts/Poppins-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}
