{% extends "admin/change_form.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <!-- N.B. this was copied from django-formset's `change_admin.html`, but it seems they have not updated it to point to the correct location for this file -->
    <script type="module"
            src="{% if use_monolithic_build %}{% static 'formset/js/django-formset.monolith.js' %}{% else %}{% static 'formset/js/django-formset.js' %}{% endif %}"></script>
{% endblock %}
{% block content %}
    <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
    {{ block.super }}
    </django-formset>
{% endblock %}
