<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>You've Been Invited to Better Angels Shelter Portal</title>
    </head>
    <body style="font-family: Arial, sans-serif;
                 margin: 0;
                 padding: 0;
                 background-color: #F2FAFC">
        <table width="100%"
               cellspacing="0"
               cellpadding="0"
               border="0"
               align="center">
            <tr>
                <td align="center">
                    <table width="100%"
                           cellspacing="0"
                           cellpadding="0"
                           border="0"
                           align="center"
                           style="max-width: 516px;
                                  background-color: #ffffff;
                                  border: 1px solid #d1d1d1;
                                  padding: 40px 50px">
                        <tr>
                            <td align="center" style="padding-bottom: 40px;">
                                <svg height="30px"
                                     width="200px"
                                     id="Layer_1"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 667.24 100">
                                    <defs><style>.cls-1{fill:#102C55;}.cls-2{fill:#9cdced;}</style></defs>
                                    <g>
                                    <path class="cls-1" d="m131.62,10.22h28.31c5.72,0,10.21,1.61,13.46,4.83,3.26,3.22,4.89,7.53,4.89,12.93,0,2.57-.36,4.74-1.08,6.51-.73,1.77-1.64,3.24-2.76,4.39-1.12,1.15-2.33,2.01-3.65,2.57-1.32.56-2.53.94-3.65,1.14v.59c1.25.07,2.65.39,4.19.99,1.55.59,3.01,1.53,4.39,2.81s2.55,2.93,3.5,4.93,1.43,4.42,1.43,7.25-.45,5.46-1.33,7.89c-.89,2.43-2.12,4.54-3.7,6.31s-3.45,3.17-5.62,4.2-4.54,1.53-7.11,1.53h-31.28V10.22h.01Z" />
                                    </g>
                                    <g>
                                    <polygon class="cls-2" points="40.3 41.55 9.25 15.72 0 44.2 40.3 41.55" /><polygon class="cls-2" points="42.47 48.23 8.31 69.77 32.54 87.38 42.47 48.23" /><polygon class="cls-2" points="49.49 48.23 59.42 87.38 83.65 69.77 49.49 48.23" /><polygon class="cls-2" points="51.65 41.55 91.96 44.2 82.7 15.72 51.65 41.55" /><circle class="cls-2" cx="45.98" cy="12.42" r="12.42" />
                                    </g>
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="padding-bottom: 20px;">
                                <p style="font-size: 22px; line-height: 32px; color: #1E3342; margin: 0">
                                    You've been invited to join {{ organization_name }} on Better Angels!
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="padding-bottom: 20px;">
                                <p style="font-size: 15px; color: #1E3342; line-height: 22px; margin: 0">
                                    {{ invited_by_name }} has invited you to join <strong>{{ organization_name }}</strong> on the Better Angels Shelter Operator Portal.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="padding-bottom: 20px;">
                                <p style="font-size: 18px; font-weight: bold; color: #1E3342; margin: 0">To accept your invitation:</p>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="font-size:15px; color:#1E3342; line-height:22px;">
                                <ol style="margin:0; padding-left:18px;">
                                    <li>
                                        Click here to set up your account:
                                        <a href="{{ accept_url }}"
                                           style="color:#1976D2;
                                                  text-decoration:underline">Accept Invitation</a>
                                    </li>
                                    <li style="margin-top:6px;">Create a password for your account.</li>
                                    <li style="margin-top:6px;">Start managing shelters with your team.</li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="padding-top:20px;">
                                <p style="font-size: 15px; color: #1E3342; line-height: 22px; margin: 0">Together, we can solve homelessness.</p>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="padding-top: 30px;">
                                <p style="font-size: 15px; color: #1E3342; line-height: 22px; margin: 0">
                                    Best,
                                    <br>
                                    Better Angels Team
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
