<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords"
              content="privacy policy, legal, terms, data protection">
        <meta name="description"
              content="This is the privacy policy page outlining the data protection and privacy practices.">
        <title>Privacy Policy</title>
        <style>
        iframe {
            width: 100%;
            height: 100vh;
            border: none;
        }
        </style>
    </head>
    <body>
        <iframe src="https://app.termly.io/document/privacy-policy/289dda2d-120b-4304-abfd-a7deaa4abd14"></iframe>
    </body>
</html>
