<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords"
              content="privacy policy, legal, terms, data protection">
        <meta name="description"
              content="This is the privacy policy page outlining the data protection and privacy practices.">
        <title>Privacy Policy</title>
    </head>
    <body>
        <div name="termly-embed" data-id="289dda2d-120b-4304-abfd-a7deaa4abd14"></div>
        <script type="text/javascript">(function(d, s, id) {
        var js, tjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://app.termly.io/embed-policy.min.js";
        tjs.parentNode.insertBefore(js, tjs);
    }(document, 'script', 'termly-jssdk'));
        </script>
    </body>
</html>
