@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Adjust per project */
:root {
  --font-primary: 'Poppins', 'sans-serif';
  --color-brand-orange: #ff902e;
  --color-brand-yellow: #fff82e;
  --color-brand-yellow-light: #fffed5;
  --color-brand-sky-blue: #9cdced;
  --color-brand-angel-blue: #f2fafc;
  --color-brand-dark-blue: #1e3342;
  --color-primary-20: #052b73;
  --color-primary-60: #216af8;
  --color-primary-95: #dae7ff;
  --color-steel-blue: #375c76;
  --color-neutral-30: #383b40;
  --color-neutral-40: #62676f;
  --color-neutral-70: #a8aeb8;
  --color-neutral-90: #d3d9e3;
  --color-neutral-98: #e8ecf2;
  --color-neutral-99: #f4f6fd;
  --color-success-30: #007934;
  --color-success-90: #ddf8e8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  color: var(--color-primary-20);
  font-family: var(--font-primary);
}

.btn-xl {
  height: 68px;
  font-size: 18px;
  border-radius: 8px;
}

.btn:is(:disabled, [disabled], .btn-disabled):not(.btn-link, .btn-ghost) {
  background-color: var(--color-neutral-90);
  box-shadow: none;
  color: var(--color-neutral-70);
}

.btn-primary {
  background-color: var(--color-primary-60);
  --btn-color: var(--color-primary-60);
  color: #fff;
}
