{% extends "admin/change_form.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        (function($) {
            $(window).on('load', function() {
                function findCardHeaderByText(headerText) {
                    const cardHeader = $('.card-header').filter(function() {
                        return $(this).text().trim() === headerText;
                    });

                    if (!cardHeader.length) {
                        console.log('Header not found:', headerText);
                        return null;
                    }

                    return cardHeader;
                }

                function findCardBodyByHeaderText(headerText) {
                    const cardHeader = findCardHeaderByText(headerText);
                    if (!cardHeader) return null;

                    const cardParent = cardHeader.closest('.card');
                    if (!cardParent.length) {
                        console.log('Parent card not found for:', headerText);
                        return null;
                    }

                    const cardBody = cardParent.find('.card-body').first();
                    if (!cardBody.length) {
                        console.log('Card body not found for:', headerText);
                        return null;
                    }

                    return cardBody;
                }

                function moveCardSection(sourceHeaderText, targetHeaderText) {
                    const sourceCardHeader = findCardHeaderByText(sourceHeaderText);
                    if (!sourceCardHeader) return;

                    const sourceCardParent = sourceCardHeader.closest('.card');
                    if (!sourceCardParent.length) {
                        console.log('Parent card not found for:', sourceHeaderText);
                        return;
                    }

                    const targetCardBody = findCardBodyByHeaderText(targetHeaderText);
                    if (!targetCardBody) return;

                    sourceCardParent.appendTo(targetCardBody);
                }

                // Maps Inlines to Appropriate Admin Section
                const cardSections = [
                    { title: 'Visuals', contents: ['Hero Image', 'Photos', 'Videos'] },
                    ];

                cardSections.forEach(function(section) {
                    section.contents.forEach(function(content) {
                        moveCardSection(content, section.title);
                    });
                });
            });
        })(django.jQuery);
    </script>
{% endblock extrahead %}
k
