@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: 'IBM Plex Sans', 'sans-serif';
  --color-brand-orange: #ff902e;
  --color-brand-yellow: #fff82e;
  --color-brand-yellow-light: #fffed5;
  --color-brand-sky-blue: #9cdced;
  --color-brand-angel-blue: #f2fafc;
  --color-brand-dark-blue: #1e3342;
  --color-primary-20: #052b73;
  --color-primary-60: #216af8;
  --color-primary-95: #dae7ff;
  --color-steel-blue: #375c76;
  --color-neutral-40: #62676f;
  --color-neutral-70: #a8aeb8;
  --color-neutral-90: #d3d9e3;
  --color-neutral-98: #e8ecf2;
  --color-neutral-99: #f4f6fd;
  --color-success-30: #007934;
  --color-success-90: #ddf8e8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: var(--font-primary);
  color: var(--color-primary-20);
  font-weight: 400;
  letter-spacing: 0.3px;

  color: #000;
}

select:focus,
input:focus,
textarea:focus {
  outline: none;
}

.plg-donate a {
  background-color: transparent !important;
  border-width: 2px;
  border-radius: 50px !important;
  border-color: var(--color-brand-yellow);
}

.goog-te-combo {
  background-color: transparent !important;
  color: #fff !important;
  margin: 0 !important;
  overflow: hidden !important;
  height: 20px !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

@media screen and (max-width: 768px) {
  .goog-te-combo {
    font-size: 12px !important;
    max-width: 120px !important;
  }
}

.goog-te-gadget {
  max-height: 20px !important;
  overflow: hidden !important;
}
